.chart {
  text-align: center;
  margin: auto;
}

.row1 {
  margin-bottom: 150px;
}

h1 {
  text-align: center;
  margin-bottom: 80px;
}
.trangchuchart{
  margin-top: 50px;
}
.textvbd{
  font-size: 30px;
}
